<a href="https://colab.research.google.com/github/jonahokiru/hello-world/blob/master/MORINGA_DATA_SCIENCE_PREP_WK4_INDEPNDENT_PROJECT_2022_02_JONAH_OKIRU_COLAB_NOTEBOOK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data cleaning of Autolib data set**

In [1]:
#loading datasets
import pandas as pd
import numpy as np

loading the dataset

In [2]:
#loading the the autolib dataset
df =pd.read_csv('Autolib_dataset.csv')
df.head(2)

                     Address  Cars  Bluecar counter  ...  day  hour  minute
0        2 Avenue de Suffren     0                0  ...    8    11      43
1  145 Rue Raymond Losserand     6                6  ...    6     7      24

[2 rows x 25 columns]

1:Checking for the validity of the data

In [3]:
#Procedure 1: Irrelevant data
#Data claning action: Removing irrelevant columns
#Explanation: They are not needed in the questions
#Remove of un neccessary columns in the dataset
del df ['Address']
del df ['ID']
del df ['Displayed comment']
del df ['Geo point']
del df ['Public name'] 
del df ['Scheduled at']
del df ['year']
del df ['month']
del df ['day']
del df ['minute']

2: Checking on the accuracy of the dataset

In [4]:
#procedure 1: In record and cross-dataset errors
#Data Cleaning actions: No action taken
#Explanations: There were no errors related to accuracy of the data, the data seems to be accurate.

3: Checking for the completeness of the datasets

In [5]:
#Procedure1: Missing values
#Data Cleaning Action: check/count missing values across the dataset
#Explanation: help to make the decision whether to drop or keep the missing values
df.isnull().sum()
#Procedure2: Drop missing values
#Data cleaning action: No action taken
#Explanation: There were no missing values in the dataset

Cars                   0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
Charging Status        0
City                   0
Kind                   0
Postal code            0
Rental status          0
Slots                  0
Station type           0
Status                 0
Subscription status    0
hour                   0
dtype: int64

4: Check for consistency in the datasets

In [6]:
#Procedure1: Duplicates
#Data Cleaning Action: Check for the observations that are duplicates across the dataset
#Explanations: The duplicates observation affects the output of the analysis, hence should be droped incase of any.
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

5:Check for the uniformity across the dataset

In [7]:
#procedure1: Standardization
#Data Cleaning Action: check if the datatypes of the columns are uniform
#Explanations: For accuracy during the analysis
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Cars                 5000 non-null   int64
 1   Bluecar counter      5000 non-null   int64
 2   Utilib counter       5000 non-null   int64
 3   Utilib 1.4 counter   5000 non-null   int64
 4   Charge Slots         5000 non-null   int64
 5   Charging Status      5000 non-null   object
 6   City                 5000 non-null   object
 7   Kind                 5000 non-null   object
 8   Postal code          5000 non-null   int64
 9   Rental status        5000 non-null   object
 10  Slots                5000 non-null   int64
 11  Station type         5000 non-null   object
 12  Status               5000 non-null   object
 13  Subscription status  5000 non-null   object
 14  hour                 5000 non-null   int64
dtypes: int64(8), object(7)
memory usage: 586.1+ KB

8: Checking for the outliers

In [8]:
#procedure1 : Outliers
#data cleaning action: checking the outliers in the datasets
#Explanation: There outliers were not droped since the 
#the codes for checking the outliers

6: Export the cleaned dataset

In [9]:
#Export the data frame into csv
df.to_csv("Autolib_dataset.csv")

**DATA ANALYSIS**

**1: Research Question**

1:#The most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

In [25]:
#the codes for the above question is as shown below
#df.groupby('hour')['Bluecar counter'].count().sort_values(ascending=False).head(1)
df.groupby('hour')['Bluecar counter'].count().sort_values(ascending=False).head(1)

hour
21    237
Name: Bluecar counter, dtype: int64

2:**Bonus Questions (Optional)**

a:The most popular hour for returning cars?

In [ ]:
#since the dataset has not specified the exact time of returning cars, makes it much difficult to answer the above 
#question

b:What station is the most popular overall?

In [ ]:
df.groupby('Station type')['Station type'].count().sort_values(ascending=False).head(1)

Station type
station    4615
Name: Station type, dtype: int64

c: The station that is most popular at picking hour?

In [ ]:
df.groupby('Station type')['hour'].count().sort_values(ascending=False).head(1)

Station type
station    4615
Name: hour, dtype: int64

c: Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

In [ ]:
# the utilib
df.groupby('hour')['Utilib counter'].count().sort_values(ascending=False).head(1)

hour
21    237
Name: Utilib counter, dtype: int64

In [ ]:
#the utilib 1.4
df.groupby('hour')['Utilib 1.4 counter'].count().sort_values(ascending=False).head(1)

hour
21    237
Name: Utilib 1.4 counter, dtype: int64